.not{
    height: 100vh;
    width: 100vw;
    img{
        display: block;
        height: 4rem;
        margin: 4rem auto .5rem;
    }
    p{
        font-size: 0.45rem;
        text-align: center;
    }
}