.banner{
    margin: 0.2rem;
    ul{
        display: flex;
        height:2.5rem;
        width: 100%;
        
        li{
           height:2.5rem;
           border-radius: 30%;
           img{
             height:2.5rem; 
             width: 100%;
           }
        }
    }
}